.*
_*
!.gitignore
!.npmignore
!.npmignore
!.dockerignore
!.browserslistrc
!.eslintrc
!.github
!.*.yml
package-lock.json
node_modules
test/package-lock.json
build/package-lock.json
*.cast
*.tar.gz
env.json
*.log
dist
